<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<elmah>
		<errorLog type="Elmah.MemoryErrorLog, Elmah" size="50" />
	</elmah>

	<system.web>

		<compilation debug="true" targetFramework="4.0" >
			<assemblies>
				<add assembly="System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
			<buildProviders>
				<add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
			</buildProviders>
		</compilation>

		<httpHandlers>
			<add verb="POST,GET,HEAD" path="/admin/elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
		</httpHandlers>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
		</httpModules>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" allowPathInfo="true" resourceType="Unspecified" preCondition="integratedMode" />
		</handlers>
	</system.webServer>

	<appSettings>
		<add key="oauth.twitter.ConsumerKey" value="ZMPXcZdoazX7ZR400nWSNQ" />
		<add key="oauth.twitter.ConsumerSecret" value="4DsokfgI5bGQhjjgAC4MqZkzzvCpDM0ltSrw7NfrTQ" />
		<!--local dev config-->
		<add key="oauth.twitter.RedirectUrl" value="http://localhost:4057/status" />
		<add key="oauth.twitter.CallbackUrl" value="http://localhost:4057/auth/twitter" />
		<add key="removeBlankLines" value="^:b*$\n" />
		<add key="webPages:Enabled" value="false" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.82.0" newVersion="1.0.82.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="ServiceStack.Razor.ViewPage">
			<namespaces>
				<add namespace="ServiceStack.Html" />
				<add namespace="ServiceStack.Razor" />
				<add namespace="ServiceStack.Text" />
				<add namespace="ServiceStack.OrmLite" />
				<add namespace="Common" />
				<add namespace="WebApplication.ServiceStack" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
</configuration>