<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" allowPathInfo="true" resourceType="Unspecified" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>

	<appSettings>
		<add key="oauth.twitter.ConsumerKey" value="ZMPXcZdoazX7ZR400nWSNQ"/>
		<add key="oauth.twitter.ConsumerSecret" value="4DsokfgI5bGQhjjgAC4MqZkzzvCpDM0ltSrw7NfrTQ"/>
		<!--local dev config-->
		<add key="oauth.twitter.RedirectUrl" value="http://localhost:4057/status"/>
		<add key="oauth.twitter.CallbackUrl" value="http://localhost:4057/auth/twitter"/>

		<add key="removeBlankLines" value="^:b*$\n"/>
	</appSettings>
	
</configuration>
