<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.3.1" targetFramework="net40" />
  <package id="FileCache" version="1.1.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
  <package id="NPatterns.Messaging.IoC" version="1.0.4688" targetFramework="net40" />
  <package id="octalforty.Mechanic" version="0.1.0" targetFramework="net40" />
  <package id="PetaPoco.Core" version="4.0.3" targetFramework="net40" />
  <package id="PetaPoco.RelationExtensions" version="1.0.2" targetFramework="net40" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Main" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.0.21114" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.33" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.33" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.33" targetFramework="net40" />
</packages>